<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,24}</string>
                <key>spriteSourceSize</key>
                <string>{160,24}</string>
                <key>textureRect</key>
                <string>{{3,3},{160,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Redfill.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,18}</string>
                <key>spriteSourceSize</key>
                <string>{84,18}</string>
                <key>textureRect</key>
                <string>{{167,3},{84,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>update-0.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:69a6e7d9f0ad0cb82672569ca61bff6e:0efa73680237b3a1f4e99a5707b986a6:11ad7ae9ddad0fef6023a092d5049f4a$</string>
            <key>textureFileName</key>
            <string>update-0.png</string>
        </dict>
    </dict>
</plist>
